<%- include('./partials/head.ejs') %>

<main>
 
  
  <section>
    <!-- Hier komen de members -->
    <% squad.members.forEach(member => { %>
    <article>
      <% if (member.avatar) { %>
      <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
      <% }else{ %>
      <img src="/assets/placeholder.jpg" alt="placeholder" />
      <% } %>
      <h2> <%= member.name %> <%= member.prefix %> <%= member.surname %></h2>
    </article>
    <% }) %>
  </section>
</main>


<%- include('./partials/foot.ejs') %>
